cf-domain: local.pcfdev.io
cf-api: api.local.pcfdev.io
cf-app-name: sample-spring-cloud-svc-ci
cf-username: admin
cf-password: admin
cf-org: demo
cf-space-dev: development
cf-space-staging: staging
cf-space-prod: production
cf-host-dev: sample-spring-cloud-svc-ci-dev
cf-host-staging: sample-spring-cloud-svc-ci-staging
cf-host-prod: sample-spring-cloud-svc-ci
s3-bucket: <s3-bucket>
s3-access-key-id: <s3-access-key-id>
s3-secret-access-key: <s3-secret-access-key>
tracker-project-id: <tracker-project-id>
tracker-token: <tracker-token>
git-email: somebody@email.com
git-name: somebody
git-username: somebody
sonar-url: http://192.168.99.100:9000
nexus-url: http://192.168.99.100:8081
docker-hub-email: somebody@email.com
docker-hub-username: somebody
docker-hub-password: somepass
sample-spring-cloud-svc-uri: git@github.com:username/sample-spring-cloud-svc-ci.git
github-private-key: |
  -----BEGIN RSA PRIVATE KEY-----
  <YOUR PRIVATE KEY>
  -----END RSA PRIVATE KEY-----
